.headContainer {
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
  margin: 30px 60px;
}
.titleContainer {
  justify-content: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.imgContainer {
  flex: 1;
  object-fit: cover;
  position: relative;
}
.img {
  object-fit: cover;
}
.pic {
  border: 1px solid gray;
  border-radius: 50%;
}
.author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
.name:hover {
  color: #53c28b;
  cursor: pointer;
}
